.App {
  text-align: center;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif, serif;
  background-color: #333;
  width: 960px;
  height: 64px;
  margin: auto;
}

a {
  text-decoration: none;
  text-decoration-color: orange;
}

a:hover {
  color: orange;
}

nav li {
  display: inline-block;
  list-style: none;
  vertical-align: middle;
}

.markDownContainer {
  background-color: #858585;
}


.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.markdown-body {
  padding: 45px;
  word-wrap: break-word;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
